<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spam Detector</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>

<body>

  <header>
    <div class="container">
      <div id="brandname">
        Machine Learning App with Flask
      </div>
      <h2>Spam Detector For SMS Messages</h2>
    </div>
  </header>

  <div class="ml-container">
    <form id="predictionForm">
      <p>Enter Your Message Here</p>
      <textarea id="messageInput" name="message" rows="4" cols="50"></textarea>
      <br />
      <input type="button" class="btn-info" value="Predict" onclick="predict()">
    </form>
    <div id="loading" style="display: none;">Processing...</div>
    <div id="resultContainer"></div>
  </div>

</body>

</html>